.game-body {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.board {
  width: 320px;
  height: 320px;
  display: grid;
  grid-gap: 0px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  background: white;
  padding: 1rem 0.5rem;
}

.blocks {
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border-color: lightgray;
}

.block_0 {
  border-top-left-radius: 25px;
}

.block_2 {
  border-top-right-radius: 25px;
}

.block_6 {
  border-bottom-left-radius: 25px;
}

.block_8 {
  border-bottom-right-radius: 25px;
}

.block_0,
.block_1,
.block_2 {
  border-top: none;
}

.block_0,
.block_3,
.block_6 {
  border-left: none;
}

.block_6,
.block_7,
.block_8 {
  border-bottom: none;
}

.block_2,
.block_5,
.block_8 {
  border-right: none;
}

.X {
  font-size: 3rem;
  /* font-family: 'Rubik Mono One', sans-serif; */
  /* font-family: 'Fredoka One', cursive; */
  font-family: 'Rowdies', cursive;
  background-color: white;
  background-image: linear-gradient(45deg, #5433ff, #20bdff, #2ebf91);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.O {
  font-size: 3rem;
  background-color: white;
  /* font-family: 'Rubik Mono One', sans-serif; */
  /* font-family: 'Fredoka One', cursive; */
  background-image: linear-gradient(to right, #f37335, #f5af19);
  font-family: 'Rowdies', cursive;

  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.info-wrapper {
  display: flex;
  justify-content: center;
}

.round-corner {
  border-radius: 25px;
  background: lightgray;
  border-color: black;
}

.current-player {
  text-decoration: none;
  /* border-width: 5px 0 0;
  border-style: solid;
  border-color: skyblue;
  border-radius: 25px; */
  font-weight: bold;
}

.winner-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 20px;
}
