.game-body {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.board {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  background: lightgray;
}

.blocks {
  border: none;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.X {
  color: #0c0cf9;
}
.O {
  color: #ff8118;
}

.info-wrapper {
  display: flex;
  justify-content: center;
}

.round-corner {
  border-radius: 25px;
  background: lightgray;
  border-style: dashed;
  border-color: black;
}

.current-player {
  text-decoration: none;
  border-width: 5px 0 0;
  border-style: solid;
  border-color: lightskyblue;
  border-radius: 25px;
  font-weight: bold;
}

.winner-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
