.div-center {
  display: block;
  text-align: center;
  margin-top: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  display: flex;
  width: 171px;
  height: 180px;
}

.xo-logo-div {
  box-shadow: 0 4px 2px -2px gray;
}

.mode-btn {
  font-size: 18px;
  color: black;
  font-weight: bold;
  border-radius: 40px;
  background: white;
  box-shadow: 0px 2px 2px 2px lightgray;
  border-style: none;
  border-color: lightgray;
  width: 25%;
}

.mode-btn:hover {
  background-color: blue;
  color: white;
}

.settings-btn {
  border-radius: 40px;
  background: white;
  box-shadow: 0px 2px 2px 2px;
  border-style: none;
  color: lightgray;
  font-size: 30px;
  width: 10%;
}

.shadow {
  border-radius: 20px;
  padding: 3px 2px;
  box-shadow: 3px 0px;
  background: white;
  font-weight: bold;
}

.board-shadow {
  border-radius: 25px;
  padding: 3px 2px;
  box-shadow: 3px 0px;
  background: white;
  font-weight: bold;
}

.gradient-text-x {
  font-size: 12rem;
  padding: 7px 7px;
  font-family: 'Fredoka One', cursive;
  /* font-family: 'Rubik Mono One', sans-serif; */
  font-weight: bold;
  filter: drop-shadow(0px 20px 10px #20bdff);
  background-color: white;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #5433ff, #20bdff, #2ebf91);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.gradient-text-y {
  font-size: 12rem;
  font-weight: bold;
  background-color: white;
  /* font-family: 'Rubik Mono One', sans-serif; */
  filter: drop-shadow(0px 20px 10px orange);
  font-family: 'Fredoka One', cursive;
  padding: 7px 7px;

  background-image: linear-gradient(to right, #f37335, #f5af19);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.radio-custom {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 0.5em solid #20bdff;
  background-color: #eee;
}

.radio-custom:hover {
  background-color: #ccc;
}

.settings-center {
  display: block;
  text-align: center;
  margin-top: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media screen and (max-width: 960px) {
  .gradient-text-x {
    font-size: 7rem;
  }

  .gradient-text-y {
    font-size: 7rem;
  }
}

@media screen and (max-width: 960px) {
  .logo {
    width: 60px;
    height: 80px;
  }
  .div-center {
    margin-top: 5rem;
    width: 80%;
    height: 250px;
  }

  .settings-btn {
    border-radius: 20px;
    background: white;
    box-shadow: 0px 2px 2px 2px;
    border-style: none;
    color: darkgray;
    font-size: 30px;
    width: 20%;
  }

  .mode-btn {
    font-size: 18px;
    width: 60%;
    height: 80%;
  }

  .settings-center {
    margin-top: 2rem;
    width: 80%;
  }
}
